body {
  font-family: Segoe UI, sans-serif;
  background: #F6C1FF;
  margin: 0;
}
.container {
  max-width: 720px;
  margin: 38px auto 38px auto;
  background: #fff4fa;
  border-radius: 24px;
  box-shadow: 0 2px 20px #0001;
  padding: 44px 36px 44px 36px;
}
.guide-content {
  background: #faf2fc;
  border-radius: 12px;
  padding: 28px 22px 22px 22px;
  color: #362149;
  font-size: 1em;
}
.guide-content h2 {
  color: #b13aad;
  margin-top: 0;
}
.guide-content ol {
  margin-bottom: 15px;
  margin-top: 5px;
}
.guide-content b {
  color: #a100a1;
  font-weight: bold;
}
hr {
  border: none;
  border-top: 2px solid #eed4fb;
  margin: 32px 0;
}
@media (max-width: 700px) {
  body {
    padding: 0;
    min-height: 100vh;
    width: 100vw;
  }
  .container {
    max-width: 99vw;
    padding: 8vw 2vw;
  }
  .guide-content {
    padding: 12px 5vw;
    font-size: 1em;
  }
}
